/* bacground image */
.background {
  background-image: url('../public/assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: auto;
  width: 100;
}
